.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    /* width: 50%;
    height: 100%; */
    border: 1px solid black;
}